
.homeButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a {
  color: #a10045;
}

button {
  color: #a10045;
  background: #ffcaeb;
}

h1 {
  color: #a10045;
  text-align: center;
}

h2 {
  color: #a10045;
  text-align: center;
}
